{% assign gproduct = all_products['video-message'] %}
{% assign hasThisProductInCart = false %}
{% for line_item in cart.items %}
  {% if line_item.id == gproduct.variants.first.id %}
    {% assign hasThisProductInCart = true %}
    {% break %}
  {% endif %}
{% endfor %}
<div class="cart-rl rl-content-wrap{% if hasThisProductInCart %} rl-gift-added{% endif %}">
  <div class="video-message-wrap {{hasThisProductInCart}}" style="{% if block.settings.bgcolor != blank %}background-color:{{ block.settings.bgcolor }};{% endif %}{% if block.settings.color != blank %}color:{{ block.settings.color }};{% endif %}">
    <label class="vmw-wrap">
      {% if block.settings.title != blank %}
        <span class="ba-title">{{ block.settings.title }}</span>
      {% else %}
        <span class="ba-title">Add a video message</span>
      {% endif %}
      <div class="after-added-content">
        {% if block.settings.added-title != blank %}
          <span class="aa-title">{{ block.settings.added-title }}</span>
        {% endif %}
      </div>
      {% if hasThisProductInCart %}
        <input
          type="checkbox"
          data-vid="{{ gproduct.variants.first.id }}"
          checked="checked">
      {% else %}
        <input type="checkbox" data-vid="{{ gproduct.variants.first.id }}">
      {% endif %}
      <span class="checkmark"></span>
    </label>
    <div class="product-price">
      <svg
        width="18"
        height="13"
        viewBox="0 0 18 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M14 5V1.5C14 0.95 13.55 0.5 13 0.5H1C0.45 0.5 0 0.95 0 1.5V11.5C0 12.05 0.45 12.5 1 12.5H13C13.55 12.5 14 12.05 14 11.5V8L18 12V1L14 5ZM11 7.5H8V10.5H6V7.5H3V5.5H6V2.5H8V5.5H11V7.5Z" fill="white" />
      </svg>
    </div>
  </div>
  <div class="rl-power-wrap">Powered by
    <svg
      width="22"
      height="16"
      viewBox="0 0 22 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 0.212402H3.09362C3.9141 0.212402 4.70097 0.538336 5.28114 1.1185C5.8613 1.69867 6.18724 2.48554 6.18724 3.30602H3.09362V9.49326C2.27314 9.49326 1.48627 9.16733 0.9061 8.58716C0.325934 8.00699 0 7.22012 0 6.39964V0.212402ZM3.09362 9.49326C3.9141 9.49326 4.70097 9.81919 5.28114 10.3994C5.8613 10.9795 6.18724 11.7664 6.18724 12.5869V15.6805H3.09362V9.49326ZM9.28086 9.49326C8.46038 9.49326 7.67351 9.16733 7.09334 8.58716C6.51317 8.00699 6.18724 7.22012 6.18724 6.39964V3.30602C7.00772 3.30602 7.79459 3.63196 8.37476 4.21212C8.95492 4.79229 9.28086 5.57916 9.28086 6.39964V9.49326ZM9.28086 9.49326C10.1013 9.49326 10.8882 9.81919 11.4684 10.3994C12.0485 10.9795 12.3745 11.7664 12.3745 12.5869V15.6805H9.28086V9.49326ZM18.9055 12.5869H15.8118V9.49326C15.8118 8.67278 15.4859 7.88591 14.9057 7.30574C14.3256 6.72557 13.5387 6.39964 12.7182 6.39964V0.212402H9.62459V3.30602C9.62459 4.1265 9.95053 4.91337 10.5307 5.49354C11.1109 6.07371 11.8977 6.39964 12.7182 6.39964V9.49326C12.7182 10.3137 13.0441 11.1006 13.6243 11.6808C14.2045 12.2609 14.9914 12.5869 15.8118 12.5869C15.8118 13.4074 16.1378 14.1942 16.7179 14.7744C17.2981 15.3546 18.085 15.6805 18.9055 15.6805H21.9991V9.49326C21.9991 8.67278 21.6731 7.88591 21.093 7.30574C20.5128 6.72557 19.7259 6.39964 18.9055 6.39964V0.212402H15.8118V3.30602C15.8118 4.1265 16.1378 4.91337 16.7179 5.49354C17.2981 6.07371 18.085 6.39964 18.9055 6.39964V12.5869Z"
        fill="black" />
    </svg>
    <strong>ribbonreel</strong>
  </div>
</div>
{% schema %}
  {
    "name": "Gift Product",
    "target": "section",
    "enabled_on": {
      "templates": ["cart"]
    },
    "stylesheet": "ribbon-reals-forntend.css",
    "javascript": "ribbon-reels-forntend.js",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Add a video message"
      }, {
        "label": "Background Color",
        "id": "bgcolor",
        "type": "color",
        "default": "#4F0ACC"
      }, {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}