{% assign gproduct = all_products['video-message'] %}
{% assign hasThisProductInCart = false %}
{% for line_item in cart.items %}
  {% if line_item.id == gproduct.variants.first.id %}
    {% assign hasThisProductInCart = true %}
    {% break %}
  {% endif %}
{% endfor %}
<div class="product-rl rl-content-wrap{% if hasThisProductInCart %} rl-gift-added{% endif %}">
  {% if block.settings.button-header != blank %}
    <div class="rl-header-text">{{ block.settings.button-header }}</div>
  {% endif %}
  <div class="video-message-wrap {{hasThisProductInCart}}">
    <label class="vmw-wrap">
      {% if block.settings.title != blank %}
        <span class="ba-title">{{ block.settings.title }}</span>
      {% else %}
        <span class="ba-title">Add a video message</span>
      {% endif %}
      <div class="after-added-content">
        {% if block.settings.added-title != blank %}
          <span class="aa-title">{{ block.settings.added-title }}</span>
        {% else %}
          <span class="aa-title">Added to cart</span>
        {% endif %}
        {% if block.settings.added-info != blank %}
          <p>{{ block.settings.added-info }}</p>
        {% endif %}
      </div>
      {% if hasThisProductInCart %}
        <input
          type="checkbox"
          data-vid="{{ gproduct.variants.first.id }}"
          checked="checked">
      {% else %}
        <input type="checkbox" data-vid="{{ gproduct.variants.first.id }}">
      {% endif %}
      <span class="checkmark"></span>
    </label>
    <div class="product-price">
      <span>{{ gproduct.price | money }}</span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Gift Product",
    "target": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "stylesheet": "ribbon-reals-forntend.css",
    "javascript": "ribbon-reels-forntend.js",
    "settings": [
      {
        "type": "text",
        "id": "button-header",
        "label": "Button Header"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Add a video message"
      },
      {
        "type": "text",
        "id": "added-title",
        "label": "Title Added",
        "default": "Added to cart"
      },
      {
        "type": "textarea",
        "id": "added-info",
        "label": "Added Info",
        "default": "You'll get an email after payment to record your video message."
      }, {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}